.App {
  text-align: center;
}

.highlight {
  color: cornflowerblue;
  text-decoration: underline;
  background-color: yellow;
}

div.container {
  text-align: center;
}

.container>ul {
  display: inline-block;
  text-align: left;
}

#analyzedWord {
  display: block;
}